.CompareAndChat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.CompareAndChat-heading {
  margin: 20px 0;
  font-size: 2rem;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.CompareAndChat-heading span {
  color: #ff416c;
}

.CompareAndChat-chat-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
}

.CompareAndChat-pastMessages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}

.CompareAndChat-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: transform 0.2s;
  margin-left: 10px;
  margin-right: 10px;
}

.CompareAndChat-message.user {
  justify-content: flex-end;
  transform: translateX(20px);
}

.CompareAndChat-message.bot {
  justify-content: flex-start;
  transform: translateX(-20px);
}

.CompareAndChat-message-content {
  max-width: 60%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.CompareAndChat-message.user .CompareAndChat-message-content {
  background-color: #ff416c;
  color: #ffffff;
  text-align: right;
}

.CompareAndChat-message.bot .CompareAndChat-message-content {
  background-color: #e5e5e5;
  color: #000000;
  text-align: left;
}

.CompareAndChat-form-section {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  padding: 20px;
  background: #f7f7f7;
  border-top: 1px solid #e0e0e0;
  align-items: flex-start; /* Ensure items align at the start of the container */
  max-width: 1200px;
}

.CompareAndChat-form-section form {
  display: flex;
  flex-wrap: wrap;
}

.CompareAndChat-chat-form {
  display: flex;
  flex: 1;
  align-items: center;
}

.CompareAndChat-file-select,
.CompareAndChat-language-select {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.3s;
  max-width: 250px;
  margin-top: 10px;
}

.CompareAndChat-file-select:focus {
  border-color: #ff416c;
}

.CompareAndChat-prompt-box {
  flex: 1;
  height: 40px;
  resize: none;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s;
  min-width: 200px;
  margin-top: 10px;
}

.CompareAndChat-prompt-box:focus {
  border-color: #ff416c;
}

.CompareAndChat-button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #ff416c, #ff416c);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.CompareAndChat-button:hover {
  background: linear-gradient(90deg, #cf0080, #ff416c);
}

.CompareAndChat-save-button {
  background-color: transparent;
  color: #555;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 10px;
}

.CompareAndChat-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure popup is on top */
  border-radius: 20px;
}

.CompareAndChat-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 300px; /* Width of the popup box */
  text-align: center;
}

.CompareAndChat-popup-content h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.CompareAndChat-popup-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.CompareAndChat-popup-content button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #ff416c, #ff416c);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.CompareAndChat-popup-content button:hover {
  background: linear-gradient(90deg, #cf0080, #ff416c);
}

.CompareAndChat-add-button {
  background-color: transparent;
  color: #ff416c;
  text-decoration: underline;
  border: none;
  margin: 10px;
}
